<%- include("partials/header") %>

<h1>Movie Search Results</h1>

<ul>
        <% parseData.Search.forEach((movie) =>{ %>
            <li>
                <strong>
                    <%= movie.Title%>
                </strong> <span class="dash">-</span>
                <i><%= movie.Year%></i></li>
        <% }); %>

    
    
</ul>

<a href="/" class="btn btn-primary btn-md active" role="button" aria-pressed="true">Search Again!</a>

<%- include("partials/footer") %>